@{
    ViewData["Title"] = "Apagar";
}

<div class="text-center">
    <h1 class="display-4">Fornecedor Apagado</h1>
</div>
<br/>
<div class="text-center">
    <a asp-controller="Fornecedores" asp-action="Index" class="btn btn-dark">
        â† Voltar
    </a>
</div>
<br/>