@model EisntMvc.Models.FornecedorModel

@{
    ViewData["Title"] = "Editar Produto";
}

<div class="text-center">
    <h1 class="display-4">Editar Fornecedor</h1>
</div>

<div class="mt-4">
    <a asp-controller="Fornecedores" asp-action="Index" class="btn btn-dark">
        ← Voltar
    </a>
</div>

<br/>

<form asp-controller="Fornecedores" asp-action="AlterarFornecedor" method="post">
    <input type="hidden" asp-for="Id"/>
    <div class="row">
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input type="text" asp-for="Nome" class="form-control" placeholder="Insira nome do fornecedor." required autofocus>
                <label>Nome</label>
                <span class="text-danger" asp-validation-for="Nome"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="text" asp-for="Morada" class="form-control" placeholder="Insira morada do fornecedor." required autofocus>
                <label>Morada</label>
                <span class="text-danger" asp-validation-for="Morada"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="text" asp-for="Email" class="form-control" placeholder="Insira email do fornecedor." required autofocus>
                <label>Email</label>
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="text" asp-for="Telefone" class="form-control" placeholder="Insira telefone do fornecedor." required autofocus>
                <label>Telefone</label>
                <span class="text-danger" asp-validation-for="Telefone"></span>
            </div>
        </div>
        
    </div>
    <br/>
    <button type="submit" class="btn btn-primary w-100">
        <i class="bi bi-check-circle"></i> Alterar
    </button>
</form>