@{
    ViewData["Title"] = "Guardar fornecedor";
}

<div class="text-center">
    <h1 class="display-4">Fornecedor Alterado</h1>
</div>
<br/>
<div class="text-center">
    <a asp-controller="Fornecedores" asp-action="Index" class="btn btn-dark">
        ← Voltar
    </a>
</div>
<br/>